
#green{
    background: rgb(60, 235, 60);
    padding: 50px;
    border: 1px solid black;
    position: relative;
    margin-right: 800px;
    margin-left: 400px;
    

}
#purple{
    background-color: purple;
    padding: 50px;
    position: relative;
    left: 100px;
    border: 1px solid black;

}
#orange{
    background-color: orange;
    padding: 50px;
    position: relative;
    right: 300px;
    border: 1px solid black;

}
